.success
{
    color:#468847;
    background-color:#dff0d8;
    border:1px solid #d6e9c6;
    padding: 5px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.success p {
    margin-bottom: 0;
}

#newTaskLink
{
    margin-left: 20px;
    margin-bottom: 20px;
}

.todoList{
    margin-top: 20px;
}

.message{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.welcomeMessage{
    margin-top: 10px;
}

.done{
    text-decoration: line-through;
}
.addTask{
    margin-top: 20px;
}